body {
    background-color: rgb(52,61,70);
    font-family: Arial, Helvetica, sans-serif;
    color: white; /*цвет текста*/
    font-weight: 100;
}

h1 {
    text-align: center;    
}

.yellow {
    color: rgb(181, 181, 80);
}

.blue {
    text-align: justify;
    font-weight: 400;
    font-style: italic;
    color: rgb(183,201,212);
}

h2.blue {
    color: rgb(213, 226, 234);
    font-weight: 900;
}

#quote {
    text-align: center;
    color: 	rgb(255,255,255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
    border: 4px solid rgb(183,201,212);
    margin: 4rem;
    padding: 2rem;
}

ul a {
    color:rgb(213, 226, 234);
}


div.block > p {
    background-color: aqua;
}

#giant-text {
    padding: 0;
    margin: 0;
    font-size: 50vh;
}

#not-giant-text {
    font-size: 100%;
}